.footer {
    background-color: $color-primary;
    color: $color-light;
    padding: 20px 0;
    text-align: center;
    
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
    }
  
    ul li {
      margin: 0 15px;
    }
  
    ul li a {
      color: $color-light;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  