$color-dark: #333;
$color-light: #fff;
$color-primary: rgb(37, 114, 255);
$color-hover: #444;
$color-accent: #007bff;
$color-hover-button: #594efc;
$color-border: #ccc;
$color-background: #f4f4f4;

$font-family: Arial, sans-serif;

$font-size-base: 16px;
$font-size-large: 2.5em;
$font-size-small: 1.2em;
$font-size-heading: 1.8em;
